# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Project exclude paths
/middleware/auth.global.js
/nuxt.config.js

# Package manager files
package-lock.json
pnpm-lock.yaml